<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo QA Test Suite" parallel="false">
    <test verbose="2" preserve-order="true" name="/home/andreeabuciumanu/IdeaProjects/Marte-23-03-23">

        <classes>

            <class name="org.skillbrain.DemoQaTutorial">
                <methods>
                    <include name="demoQaFormTest"/>
                    <include name="demoQaLoginTest"/>
                </methods>
            </class>
            <class name="org.skillbrain.AlertTutorial"/>
            <class name="org.skillbrain.ButtonClickTutorial"/>
            <class name="org.skillbrain.SeleniumSelectors"/>
            <class name="org.skillbrain.AlertTutorial"/>


        </classes>
    </test>
</suite>
